body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper {
  padding: 0 2em;
}

.opaque-bg {
  color: #fff;
  background-color: rgba(183, 28, 28, 0.65) !important;
  opacity: .7;
}

.places-polls {
  display: flex;
  width: 100vw;
}

.places-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40vw;
    border-right: 2px solid #000;
    padding-right: 5em;
    margin: 0 5em;
}

.polls-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40vw;
}

a {
    color: #00B7FF;
}

.card-img {
    object-fit: cover;
    height: 250px;
}

.hero {
  width: 115vw;
}

.home-text {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
}

.poll-button:hover {
    background-color: rgba(255, 110, 64, 0.8) !important;
}

.valign-wrapper {
    display: block !important;
    display: -ms-flexbox;
    /* display: flex; */
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

h2 span {
   color: white;
   /*font: bold 24px/45px;*/
   letter-spacing: 1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.6);
   padding: 10px;
}

.hero-block {
    padding-top: 10%;
}

.instruction {
  width: 20vw;
}

.parallax img {
  display: block;
  opacity: .7;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 75vh;
  background-size: cover;
}

.add-button {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

header {
  display: flex;
  justify-content: center;
}

.signup {
  width: 50vw;
}

.login {
  width: 50vw;
}
