body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
    flex: 1 0 auto;
}

a {
    color: #00B7FF;
}

.rest-img {
  display: inline-block;
  width: 10vw;
}

img {
  object-fit: cover;
  width:230px;
  height:230px;
}

details {
  display: inline-block;
}
