body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #E7E7D5;
}

main {
    flex: 1 0 auto;
}

nav {
    background-color: #9C3922 !important;
    height: 13vh !important;
}

.nav-wrapper {
    padding: 0 2em;
}

.logo {
    width: 75px;
    margin-top: .2em;
}

.opaque-bg {
    color: #fff;
    background-color: rgba(183, 28, 28, 0.65) !important;
    opacity: .7;
}

.places-polls {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.places-container {
    display: inline-block;
    float: left;
    width: 40vw;
    margin: 0 5em;
}

.polls-container {
    display: inline-block;
    float: right;
    width: 40vw;
    margin: 0 5em;
}

.dropzone {
    height: 100vh;
    width: 50vw;
    position: relative;
    float: right;
    color: grey;
}

.dropzone:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

a {
    color: #fff;
}

.card-img {
    object-fit: cover;
    height: 250px;
}

.hero {
    width: 80vw;
}

.home-text {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
}

.poll-button {
    background-color: #C6720B;
}

.poll-button:hover {
    opacity: 0.8;
    background-color: #C6720B !important;
}

.valign-wrapper {
    display: block !important;
    display: -ms-flexbox;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

h2 span {
    color: white;
    /*font: bold 24px/45px;*/
    letter-spacing: 1px;
    background: rgb(0, 0, 0);
    /* fallback color */
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
}

.hero-block {
    padding-top: 10%;
}

.instruction {
    width: 20vw;
}

.parallax img {
    display: block;
    /*opacity: .7;*/
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 75vh;
    background-size: cover;
}

.select-rest {
    display: inline-block;
    float: left;
    width: 50vw;
    text-align: center;
}

.poll-rest {
    display: inline-block;
    float: right;
    width: 50vw;
    text-align: center;
}

.card {
    background-color: #968F76 !important;
}

.signup {
    width: 50vw;
}

.login {
    width: 50vw;
}

footer {
    background-color: #9C3922 !important;
}
