<header>
    <h1>Select Your Restaurants</h1>
    <a ui-sref="polls" class="waves-effect waves-light btn">Create Poll</a>
</header>

<!-- <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div> -->

<div>
    <div ng-model="$ctrl.places" class="places-polls" ng-repeat="place in $ctrl.places">
        <div class="places-container">
            <div ui-sortable="$ctrl.options" class="card red darken-4">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator card-img" src="{{place.image_url}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{place.name}}<i class="material-icons right">more_vert</i></span>
                    <p><a href="{{place.url}}" target="_blank">Visit Site</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{place.name}}<i class="material-icons right">close</i></span>
                    <p>{{place.location.display_address}}</p>
                    <p><a href="tel:{{place.phone}}">Call Now</a></p>
                    <p><a href="{{place.url}}" target="_blank">Visit Site</a></p>
                    <p>Rating: {{place.rating}}</p>
                    <p>{{place.price}}</p>
                    <p>{{place.distance}} meters</p>
                    <div class="add-button">
                        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                    </div>

                </div>
            </div>
        </div>

        <div class="polls-container">

        </div>

    </div>

</div>
