<div class="page-title">
    <h2>Do Some Research</h2>
    <h2>Build Your Poll</h2>
    <button class="btn-large poll-submit" ng-click="$ctrl.pollSubmit()">Save Poll
    </button>
</div>

<!-- <div class="">
  <input id="foo" value="{{$ctrl.pollUrl}}{{$ctrl.poll.poll_url}}"> -->

<!-- Trigger -->
<!-- <button class="btn" data-clipboard-target="#foo">
    <img src="assets/clippy.svg" alt="Copy to clipboard">
</button>
</div> -->

<div ng-show="$ctrl.pollCreated" class="poll-url">
  <h2>Share this URL!</h2>
 <p><a ng-href="{{$ctrl.pollUrl}}{{$ctrl.poll.poll_url}}">{{$ctrl.pollUrl}}{{$ctrl.poll.poll_url}}</a></p>
</div>
<!-- <div class="container">
  <div class="row poll-url" ng-show="$ctrl.pollCreated">
      <div class="col s12 m5">
          <div class="card-panel">
              <p><a ng-href="{{$ctrl.pollUrl}}{{$ctrl.poll.poll_url}}">{{$ctrl.pollUrl}}{{$ctrl.poll.poll_url}}</a></p>
          </div>
      </div>
  </div>
</div> -->


<div ng-show="!$ctrl.pollCreated">
    <div class="polls-container">

      <div ng-show ="$ctrl.loading" class="preloader-wrapper big active">
          <div class="spinner-layer spinner-red-only">
              <div class="circle-clipper left">
                  <div class="circle"></div>
              </div>
              <div class="gap-patch">
                  <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                  <div class="circle"></div>
              </div>
          </div>
      </div>
        <div ng-show="dragging" class="dropzone" ui-sortable="$ctrl.options" ng-model="dropzoneFields">

        </div>
        <div ng-repeat="item in dropzoneFields track by $index">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator card-img" src="{{item.image_url}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{item.name}}<i class="material-icons right">more_vert</i></span>
                    <p><a href="{{item.url}}" target="_blank">Visit Site</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{item.name}}<i class="material-icons right">close</i></span>
                    <p>{{item.location.address1}}, {{item.location.city}}, {{item.location.state}}, {{item.location.zip_code}}</p>
                    <p>Price Level: {{item.price}}</p>
                    <p>Rating: {{item.rating}}</p>
                    <p><a href="tel:{{item.phone}}">Call Now</a></p>
                    <p><a href="{{item.url}}" target="_blank">Visit Site</a></p>
                    <p>{{$ctrl.getMiles(item.distance)}} miles</p>
                </div>
            </div>
        </div>

    </div>

    <div class="places-container">
        <div ng-model="$ctrl.places" ui-sortable="$ctrl.draggable" class="place-list">

            <div ng-repeat="place in $ctrl.places">
                <div class="card" ng-click="$ctrl.setCurrentDragging(place)">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator card-img" src="{{place.image_url}}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{place.name}}<i class="material-icons right">more_vert</i></span>
                        <p><a href="{{place.url}}" target="_blank">Visit Site</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{place.name}}<i class="material-icons right">close</i></span>
                        <p>{{place.location.address1}}, {{place.location.city}}, {{place.location.state}}, {{place.location.zip_code}}</p>
                        <p>Price Level: {{place.price}}</p>
                        <p>Rating: {{place.rating}}</p>
                        <p><a href="tel:{{place.phone}}">Call Now</a></p>
                        <p><a href="{{place.url}}" target="_blank">Visit Site</a></p>
                        <p>{{$ctrl.getMiles(place.distance)}} miles</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
