<div class="container">
    <h4>Please enter required information</h4>
    <div class="row signup">
        <form class="col s12" ng-submit="$ctrl.formSubmit()">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="first_name" type="text" class="form-control" ng-model="$ctrl.user.first_name" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="last_name" type="text" class="form-control" ng-model="$ctrl.user.last_name" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="email" class="form-control" ng-model="$ctrl.user.email" class="validate">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">business</i>
                    <input id="company" type="text" class="form-control" ng-model="$ctrl.user.company" class="validate">
                    <label for="company">Company (optional)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">lock</i>
                    <input id="password" type="password" class="form-control" ng-model="$ctrl.user.password" class="validate">
                    <label for="password">Create Password</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" id="submit" ng-click="$ctrl.signupController()">Create Account
    <i class="material-icons right">send</i>
  </button>
            <div class="error-container">
            </div>
        </form>
    </div>

</div>
